@font-face {
  font-family: mostra-nuova, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 800px) {
  html {
    min-width: 400%;
  }
}
body {
  background: #38404F;
  font-family: monstra-nuova !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: grey;
}

.main {
  background-image: url("../img/coverImage3.webp");
  min-height: 100vh;
  padding-bottom: 5%;
  display: grid;
  position: relative;
  grid-template-rows: 10% 245px repeat(1, 1fr);
  grid-template-columns: 35% repeat(4, 1fr);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 70%;
}
.main label {
  font-family: mostra-nuova;
  background: rgba(147, 149, 152, 0.75);
  border-radius: 1.5em;
  padding: 10px;
  font-size: 2em;
  color: white;
  position: relative;
  text-decoration: none;
}

.main div:hover {
  transform: scale(1.02);
}
.main div:hover label {
  background-color: #939598;
}

.aboutMeGear {
  grid-column-start: 3;
  grid-row-start: 2;
  width: 245px;
  height: 245px;
  background-image: url("../img/aboutMeGear.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.aboutMeGear label {
  top: 40%;
  left: 20%;
}
.aboutMeGear :hover {
  cursor: pointer;
}

.workGear {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 529.2px;
  height: 529.2px;
  background-image: url("../img/workGear.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.workGear label {
  font-size: 5em;
  top: 40%;
  left: 25%;
}
.workGear :hover {
  cursor: pointer;
}

.contactGear {
  grid-column-start: 3;
  grid-row-start: 3;
  height: 416.5px;
  width: 416.5px;
  background-image: url("../img/contactGear.webp");
  background-repeat: no-repeat;
  background-size: contain;
}
.contactGear label {
  font-size: 3em;
  top: 42%;
  left: 29%;
}
.contactGear :hover {
  cursor: pointer;
}

#workSection, #workSectionTheater {
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-family: mostra-nuova;
}
#workSection #workDiv, #workSection #workDivTheater, #workSectionTheater #workDiv, #workSectionTheater #workDivTheater {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
}
#workSection #workDiv div, #workSection #workDivTheater div, #workSectionTheater #workDiv div, #workSectionTheater #workDivTheater div {
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 30%;
  font-size: 2em;
}
#workSection #workDiv div h5, #workSection #workDivTheater div h5, #workSectionTheater #workDiv div h5, #workSectionTheater #workDivTheater div h5 {
  transform: none;
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}
#workSection #workDiv div label, #workSection #workDivTheater div label, #workSectionTheater #workDiv div label, #workSectionTheater #workDivTheater div label {
  transform: none;
}
#workSection .project1, #workSectionTheater .project1, #workSection .project21, #workSectionTheater .project21, #workSection .project20, #workSectionTheater .project20, #workSection .project19, #workSectionTheater .project19, #workSection .project18, #workSectionTheater .project18, #workSection .project17, #workSectionTheater .project17, #workSection .project16, #workSectionTheater .project16, #workSection .project15, #workSectionTheater .project15, #workSection .project14, #workSectionTheater .project14, #workSection .project13, #workSectionTheater .project13, #workSection .project12, #workSectionTheater .project12, #workSection .project11, #workSectionTheater .project11, #workSection .project10, #workSectionTheater .project10, #workSection .project9, #workSectionTheater .project9, #workSection .project8, #workSectionTheater .project8, #workSection .project7, #workSectionTheater .project7, #workSection .project6, #workSectionTheater .project6, #workSection .project5, #workSectionTheater .project5, #workSection .project4, #workSectionTheater .project4, #workSection .project3, #workSectionTheater .project3, #workSection .project2, #workSectionTheater .project2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/skm/dragon demo.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#workSection .project1:hover, #workSectionTheater .project1:hover, #workSection .project21:hover, #workSectionTheater .project21:hover, #workSection .project20:hover, #workSectionTheater .project20:hover, #workSection .project19:hover, #workSectionTheater .project19:hover, #workSection .project18:hover, #workSectionTheater .project18:hover, #workSection .project17:hover, #workSectionTheater .project17:hover, #workSection .project16:hover, #workSectionTheater .project16:hover, #workSection .project15:hover, #workSectionTheater .project15:hover, #workSection .project14:hover, #workSectionTheater .project14:hover, #workSection .project13:hover, #workSectionTheater .project13:hover, #workSection .project12:hover, #workSectionTheater .project12:hover, #workSection .project11:hover, #workSectionTheater .project11:hover, #workSection .project10:hover, #workSectionTheater .project10:hover, #workSection .project9:hover, #workSectionTheater .project9:hover, #workSection .project8:hover, #workSectionTheater .project8:hover, #workSection .project7:hover, #workSectionTheater .project7:hover, #workSection .project6:hover, #workSectionTheater .project6:hover, #workSection .project5:hover, #workSectionTheater .project5:hover, #workSection .project4:hover, #workSectionTheater .project4:hover, #workSection .project3:hover, #workSectionTheater .project3:hover, #workSection .project2:hover, #workSectionTheater .project2:hover {
  background-image: url("../img/skm/dragon demo.gif");
}
#workSection .project2, #workSectionTheater .project2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/pdtLetters/finished.webp");
}
#workSection .project2:hover, #workSectionTheater .project2:hover {
  background-image: url("../img/pdtLetters/finished.webp");
}
#workSection .project3, #workSectionTheater .project3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/penguinDevice/penguinFinal.webp");
}
#workSection .project3:hover, #workSectionTheater .project3:hover {
  background-image: url("../img/penguinDevice/penguinFinal.webp");
}
#workSection .project4, #workSectionTheater .project4 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/hideAwayStairs/design3.webp");
}
#workSection .project4:hover, #workSectionTheater .project4:hover {
  background-image: url("../img/hideAwayStairs/design3.webp");
}
#workSection .project5, #workSectionTheater .project5 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/capstoneClock/final1.webp");
}
#workSection .project5:hover, #workSectionTheater .project5:hover {
  background-image: url("../img/capstoneClock/final1.webp");
}
#workSection .project6, #workSectionTheater .project6 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/creepyCreature/caught 4.webp");
}
#workSection .project6:hover, #workSectionTheater .project6:hover {
  background-image: url("../img/creepyCreature/caught 4.webp");
}
#workSection .project7, #workSectionTheater .project7 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
}
#workSection .project7:hover, #workSectionTheater .project7:hover {
  background-image: url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
}
#workSection .project8, #workSectionTheater .project8 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/customCoffeTable/final1.webp");
}
#workSection .project8:hover, #workSectionTheater .project8:hover {
  background-image: url("../img/customCoffeTable/final1.webp");
}
#workSection .project9, #workSectionTheater .project9 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/3dVisualizer/Evisualizer.gif");
}
#workSection .project9:hover, #workSectionTheater .project9:hover {
  background-image: url("../img/3dVisualizer/Evisualizer.gif");
}
#workSection .project10, #workSectionTheater .project10 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/fusionInfoGraphic/iteration4.webp");
}
#workSection .project10:hover, #workSectionTheater .project10:hover {
  background-image: url("../img/fusionInfoGraphic/iteration4.webp");
}
#workSection .project11, #workSectionTheater .project11 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/spiceItUp/spice if up final.webp");
}
#workSection .project11:hover, #workSectionTheater .project11:hover {
  background-image: url("../img/spiceItUp/spice if up final.webp");
}
#workSection .project12, #workSectionTheater .project12 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/courageTheCowardlyDog/courage final 2.webp");
}
#workSection .project12:hover, #workSectionTheater .project12:hover {
  background-image: url("../img/courageTheCowardlyDog/courage final 2.webp");
}
#workSection .project13, #workSectionTheater .project13 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/zurgeCoin/final-zurge.webp");
}
#workSection .project13:hover, #workSectionTheater .project13:hover {
  background-image: url("../img/zurgeCoin/final-zurge.webp");
}
#workSection .project14, #workSectionTheater .project14 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/peculiarParticles/final1.webp");
}
#workSection .project14:hover, #workSectionTheater .project14:hover {
  background-image: url("../img/peculiarParticles/final1.webp");
}
#workSection .project15, #workSectionTheater .project15 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/cannonFodder/cannon (15).webp");
}
#workSection .project15:hover, #workSectionTheater .project15:hover {
  background-image: url("../img/cannonFodder/cannon (15).webp");
}
#workSection .project16, #workSectionTheater .project16 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project16:hover, #workSectionTheater .project16:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project17, #workSectionTheater .project17 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/hair/hair (2).webp");
}
#workSection .project17:hover, #workSectionTheater .project17:hover {
  background-image: url("../img/hair/hair (2).webp");
}
#workSection .project18, #workSectionTheater .project18 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project18:hover, #workSectionTheater .project18:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project19, #workSectionTheater .project19 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project19:hover, #workSectionTheater .project19:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project20, #workSectionTheater .project20 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project20:hover, #workSectionTheater .project20:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project21, #workSectionTheater .project21 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project21:hover, #workSectionTheater .project21:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}

#workSectionTheater {
  display: none;
}

#resume {
  display: none;
  margin-left: 2%;
  margin-right: 2%;
}

.closingTime {
  font-size: 2em;
  background-color: grey;
  padding: 5px;
  bottom: 10%;
  right: 10%;
  border-radius: 15px;
  color: #d6d6d6;
  position: fixed;
  z-index: 2;
  opacity: 0;
}

.closingTime:hover {
  background-color: black;
  color: white;
}

.transitionalContent {
  margin-left: 5%;
  margin-right: 5%;
  display: none;
  opacity: 0;
  z-index: 2;
}
.transitionalContent .description {
  font-size: 1.5em;
}
.transitionalContent .titleBlock {
  background-image: url("../img/skm/dragon demo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  margin: 0 2%;
}
.transitionalContent .titleBlock h1 {
  font-size: 3em;
}
.transitionalContent .titleBlock div {
  padding: 40% 0 0 5%;
}
.transitionalContent .threeXthree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, 1fr);
  grid-gap: 2%;
}
.transitionalContent .threeXthree img {
  width: 100%;
}
.transitionalContent .threeXthree p {
  text-align: center;
  grid-column: 1/4;
}
.transitionalContent .twoXtwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content repeat(2, 1fr);
  grid-gap: 2%;
  margin-bottom: 2%;
}
.transitionalContent .twoXtwo img {
  width: 100%;
}
.transitionalContent .twoXtwo p {
  text-align: center;
  grid-column: 1/3;
}
.transitionalContent .twoXone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  grid-gap: 2%;
  margin-bottom: 2%;
}
.transitionalContent .twoXone img {
  width: 100%;
}
.transitionalContent .twoXone p {
  text-align: center;
  grid-column: 1/3;
}
.transitionalContent .threeXtwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(2, 1fr);
  grid-gap: 2%;
}
.transitionalContent .threeXtwo img {
  width: 100%;
}
.transitionalContent .threeXtwo p {
  text-align: center;
  grid-column: 1/4;
}
.transitionalContent .oneAndone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.transitionalContent .video {
  margin-top: 5%;
}

label:hover {
  cursor: pointer;
}

#WorkContent2 .titleBlock {
  background-image: url("../img/pdtLetters/finished.webp");
  background-position: center;
}

#WorkContent3 .titleBlock {
  background-image: url("../img/penguinDevice/penguinFinal.webp");
  background-position: center;
}

#WorkContent4 .titleBlock {
  background-image: url("../img/hideAwayStairs/bccTable.gif");
  color: black;
}

#WorkContent5 .titleBlock {
  background-image: url("../img/capstoneClock/final1.webp");
}
#WorkContent5 .oneAndone {
  position: relative;
  top: -100px;
}
#WorkContent5 .oneAndone img {
  padding: 8%;
}

#WorkContent6 .titleBlock {
  background-image: url("../img/creepyCreature/caught 4.webp");
}

#WorkContent7 .titleBlock {
  background-image: url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
}

#WorkContent8 .titleBlock {
  background-image: url("../img/customCoffeTable/final1.webp");
}

#WorkContent9 .titleBlock {
  background-image: url("../img/3dVisualizer/backgroundFrame.webp");
}

#WorkContent10 .titleBlock {
  background-image: url("../img/fusionInfoGraphic/iteration4.webp");
}
#WorkContent10 .titleBlock div {
  color: black;
}
#WorkContent10 .titleBlock div h1, #WorkContent10 .titleBlock div h3 {
  background-color: grey;
  max-width: 50%;
  border-radius: 15px;
  opacity: 0.75;
}
#WorkContent10 .threeXthree {
  grid-template-rows: min-content 1fr;
}

#WorkContent11 .titleBlock {
  background-image: url("../img/spiceItUp/spice if up final.webp");
}
#WorkContent11 .oneAndone img {
  width: 50%;
  align-self: center;
}

#WorkContent12 .titleBlock {
  background-image: url("../img/courageTheCowardlyDog/courage final 2.webp");
}
#WorkContent12 .threeXthree:nth-child(3) {
  margin-top: -15%;
  grid-template-rows: min-content 1fr;
}

#WorkContent13 .titleBlock {
  background-image: url("../img/zurgeCoin/final-zurge.webp");
}
#WorkContent13 div:nth-child(4) {
  position: relative;
  margin-top: -50%;
}

#WorkContent14 .titleBlock {
  background-image: url("../img/peculiarParticles/final1.webp");
}
#WorkContent14 .threeXthree {
  grid-template-rows: min-content 1fr;
}

#WorkContent15 .titleBlock {
  background-image: url("../img/cannonFodder/cannon (15).webp");
}
#WorkContent15 .threeXthree {
  grid-template-rows: min-content 1fr;
}

#WorkContent16 .titleBlock {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}

#WorkContent17 .titleBlock {
  background-image: url("../img/hair/hair (2).webp");
}

#WorkContent18 .titleBlock {
  background-image: url("../img/babyYoda/hecuba (1).webp");
}

#WorkContent19 .titleBlock {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}

#WorkContent20 .titleBlock {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}

#WorkContent21 .titleBlock {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}

nav {
  font-family: mostra-nuova;
  background-color: #282d38;
  display: none;
  opacity: 0;
  justify-content: space-around;
  font-size: 3em;
  min-width: 100%;
  position: fixed;
  color: white;
  z-index: 2;
}
nav :hover {
  transition-property: transform;
  transition-delay: 0.5;
  transition-duration: 0.75;
  transform: scale(1.2);
}

#header {
  font-size: 2em;
  display: flex;
  opacity: 1;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  z-index: 1;
}

#aboutMeSection {
  margin-left: 5%;
  margin-right: 5%;
  font-family: mostra-nuova;
}
#aboutMeSection h1 {
  text-align: center;
  font-size: 3em;
  color: white;
  grid-column: span 5;
  margin: 0;
}
#aboutMeSection p {
  grid-column: span 5;
  font-size: 1.5em;
  color: white;
  padding: 0.5% 5%;
  height: min-content;
}
#aboutMeSection div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content) repeat(6, 1fr);
  grid-gap: 20px;
}
#aboutMeSection div div {
  background-size: cover;
}
#aboutMeSection div .medium {
  grid-column: span 2;
  grid-row: span 2;
}
#aboutMeSection div .one {
  background-image: url("../img/aboutMeSection/aboutMe1.webp");
  background-position: center;
}
#aboutMeSection div .two {
  background-image: url("../img/aboutMeSection/aboutMe3.webp");
}
#aboutMeSection div .tall {
  grid-column: span 2;
  grid-row: span 3;
  background-position: top;
}
#aboutMeSection div .large {
  grid-row: span 3;
  grid-column: span 3;
  background-image: url("../img/aboutMeSection/aboutMe2.webp");
}
#aboutMeSection div .wide {
  grid-column: span 3;
  grid-row: span 2;
  background-image: url("../img/aboutMeSection/aboutMe5.webp");
  background-position: center;
}
#aboutMeSection div .small {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url("../img/aboutMeSection/aboutMe6.webp");
  background-position: 0% 25%;
}

#contactSection {
  margin: 15% 5% 5% 5%;
  color: white;
  font-family: mostra-nuova;
}
#contactSection div {
  background-color: grey;
  padding: 5%;
  border-radius: 50px;
}