@font-face {
  font-family: mostra-nuova,sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 800px) {
  html {
    min-width: 400%;
    padding: 10px;
  }
}

@media(min-aspect-ratio: 16/9)
{
  h3{
    font-size: 2em;
    margin-top: 1%;
  }
  h2{
    font-size: 1.75em;
    margin-top: 1%;
  }

}

body{
  background: $pageBackground;
  font-family: monstra-nuova !important;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background: grey;
}

.welcomeBanner{
  font-family: mostra-nuova;
  color: $textLabel;
  font-size: 300%;
  margin: 0;
  padding: 5%;
}
