@font-face {
  font-family: mostra-nuova, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: acumin-pro-wide, sans-serif;
  font-style: normal;
}
@font-face {
  font-family: acumin-pro-thin, sans-serif;
  font-weight: 100;
  font-style: normal;
}
@media only screen and (max-width: 900px) {
  .description {
    font-size: 0.5em;
    height: 40% !important;
  }

  #pathArray {
    position: absolute !important;
    left: 10vw;
    bottom: 0;
  }

  .main {
    font-size: 0.75em;
  }

  #aboutMeSection {
    font-size: 0.75em;
    padding-left: 10% !important;
  }
  #aboutMeSection img {
    width: 45%;
  }

  #menuBar {
    font-size: 1em !important;
  }

  nav {
    font-size: 1em !important;
  }

  .project1:hover, #workSection .project21:hover, #workSectionTheater .project21:hover, #workSection .project20:hover, #workSectionTheater .project20:hover, #workSection .project19:hover, #workSectionTheater .project19:hover, #workSection .project18:hover, #workSectionTheater .project18:hover, #workSection .project17:hover, #workSectionTheater .project17:hover, #workSection .project16:hover, #workSectionTheater .project16:hover, #workSection .project15:hover, #workSectionTheater .project15:hover, #workSection .project14:hover, #workSectionTheater .project14:hover, #workSection .project13:hover, #workSectionTheater .project13:hover, #workSection .project12:hover, #workSectionTheater .project12:hover, #workSection .project11:hover, #workSectionTheater .project11:hover, #workSection .project10:hover, #workSectionTheater .project10:hover, #workSection .project9:hover, #workSectionTheater .project9:hover, #workSection .project8:hover, #workSectionTheater .project8:hover, #workSection .project7:hover, #workSectionTheater .project7:hover, #workSection .project6:hover, #workSectionTheater .project6:hover, #workSection .project5:hover, #workSectionTheater .project5:hover, #workSection .project4:hover, #workSectionTheater .project4:hover, #workSection .project3:hover, #workSectionTheater .project3:hover, #workSection .project2:hover, #workSectionTheater .project2:hover {
    background-size: cover !important;
  }
  .project1:hover .describingThing, #workSection .project21:hover .describingThing, #workSectionTheater .project21:hover .describingThing, #workSection .project20:hover .describingThing, #workSectionTheater .project20:hover .describingThing, #workSection .project19:hover .describingThing, #workSectionTheater .project19:hover .describingThing, #workSection .project18:hover .describingThing, #workSectionTheater .project18:hover .describingThing, #workSection .project17:hover .describingThing, #workSectionTheater .project17:hover .describingThing, #workSection .project16:hover .describingThing, #workSectionTheater .project16:hover .describingThing, #workSection .project15:hover .describingThing, #workSectionTheater .project15:hover .describingThing, #workSection .project14:hover .describingThing, #workSectionTheater .project14:hover .describingThing, #workSection .project13:hover .describingThing, #workSectionTheater .project13:hover .describingThing, #workSection .project12:hover .describingThing, #workSectionTheater .project12:hover .describingThing, #workSection .project11:hover .describingThing, #workSectionTheater .project11:hover .describingThing, #workSection .project10:hover .describingThing, #workSectionTheater .project10:hover .describingThing, #workSection .project9:hover .describingThing, #workSectionTheater .project9:hover .describingThing, #workSection .project8:hover .describingThing, #workSectionTheater .project8:hover .describingThing, #workSection .project7:hover .describingThing, #workSectionTheater .project7:hover .describingThing, #workSection .project6:hover .describingThing, #workSectionTheater .project6:hover .describingThing, #workSection .project5:hover .describingThing, #workSectionTheater .project5:hover .describingThing, #workSection .project4:hover .describingThing, #workSectionTheater .project4:hover .describingThing, #workSection .project3:hover .describingThing, #workSectionTheater .project3:hover .describingThing, #workSection .project2:hover .describingThing, #workSectionTheater .project2:hover .describingThing {
    position: relative;
    font-size: 0.5em;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    top: -10%;
  }
}
body {
  background: #88A8C9;
  font-family: acumin-pro !important;
  overflow-x: hidden;
  color: #FFE1AD;
}

label:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #ffe1ad;
}

#menuBar {
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  flex-wrap: wrap;
  color: #ffe1ad;
  background-color: #88A8C9;
  font-size: 2em;
  min-width: 100vw;
}
#menuBar label {
  padding: 10px;
}
#menuBar label:nth-child(1) {
  background-color: #993120;
}
#menuBar label:nth-child(2) {
  background-color: #586e82;
}
#menuBar label:nth-child(3) {
  background-color: #fab01a;
}

#main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 50vw;
}
#main #pathArray {
  min-width: 200%;
  position: relative;
  z-index: 1;
}
#main #path1 {
  stroke-dasharray: 1000;
}
#main #path2 {
  stroke-dasharray: 500;
}
#main #path3 {
  stroke-dasharray: 700;
}
#main #path4 {
  stroke-dasharray: 900;
}
#main #welcomeBanner {
  font-family: acumin-pro;
  margin: 0;
  padding: 5%;
}
#main #welcomeBanner p {
  font-size: 1.5em;
}
#main #welcomeBanner h1 {
  font-size: 10em;
}

.closingTime {
  font-family: mostra-nuova;
}

#svgWorkFlow {
  position: fixed;
  top: 10vh;
  display: none;
}

#svgWorkFlow2 {
  position: fixed;
  top: 50vh;
  display: none;
}

.pathWork1 {
  stroke-dasharray: 500;
}

.pathWork2 {
  stroke-dasharray: 500;
}

.pathWork3 {
  stroke-dasharray: 500;
}

.pathWork4 {
  stroke-dasharray: 500;
}

.pathWork5 {
  stroke-dasharray: 500;
}

.pathWork6 {
  stroke-dasharray: 500;
}

.pathWork7 {
  stroke-dasharray: 500;
}

.pathWork8 {
  stroke-dasharray: 500;
}

#workSection, #workSectionTheater {
  margin-left: 2%;
  margin-right: 2%;
  font-family: acumin-pro;
  background-color: #ffe1ad;
}
#workSection #CTDworkDiv, #workSection #workDivTheater, #workSectionTheater #CTDworkDiv, #workSectionTheater #workDivTheater {
  display: grid;
  grid-template-rows: 95vh;
  grid-template-columns: repeat(5, 95vw);
  grid-column-gap: 10%;
}
#workSection .workDivs, #workSectionTheater .workDivs {
  display: grid;
  position: relative;
  grid-auto-rows: 30vh;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 20vh;
}
#workSection .workDivs div, #workSectionTheater .workDivs div {
  padding-left: 5%;
  padding-top: 10%;
  font-size: 2em;
  grid-column-end: span 3;
}
#workSection .workDivs div label, #workSectionTheater .workDivs div label {
  transform: none;
}
#workSection .describingThing, #workSectionTheater .describingThing {
  margin-left: 10%;
  font-size: 0.5em;
  display: none;
}
#workSection .project1, #workSectionTheater .project1, #workSection .project21, #workSectionTheater .project21, #workSection .project20, #workSectionTheater .project20, #workSection .project19, #workSectionTheater .project19, #workSection .project18, #workSectionTheater .project18, #workSection .project17, #workSectionTheater .project17, #workSection .project16, #workSectionTheater .project16, #workSection .project15, #workSectionTheater .project15, #workSection .project14, #workSectionTheater .project14, #workSection .project13, #workSectionTheater .project13, #workSection .project12, #workSectionTheater .project12, #workSection .project11, #workSectionTheater .project11, #workSection .project10, #workSectionTheater .project10, #workSection .project9, #workSectionTheater .project9, #workSection .project8, #workSectionTheater .project8, #workSection .project7, #workSectionTheater .project7, #workSection .project6, #workSectionTheater .project6, #workSection .project5, #workSectionTheater .project5, #workSection .project4, #workSectionTheater .project4, #workSection .project3, #workSectionTheater .project3, #workSection .project2, #workSectionTheater .project2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/skm/dragon demo.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#workSection .project1:hover, #workSectionTheater .project1:hover, #workSection .project21:hover, #workSectionTheater .project21:hover, #workSection .project20:hover, #workSectionTheater .project20:hover, #workSection .project19:hover, #workSectionTheater .project19:hover, #workSection .project18:hover, #workSectionTheater .project18:hover, #workSection .project17:hover, #workSectionTheater .project17:hover, #workSection .project16:hover, #workSectionTheater .project16:hover, #workSection .project15:hover, #workSectionTheater .project15:hover, #workSection .project14:hover, #workSectionTheater .project14:hover, #workSection .project13:hover, #workSectionTheater .project13:hover, #workSection .project12:hover, #workSectionTheater .project12:hover, #workSection .project11:hover, #workSectionTheater .project11:hover, #workSection .project10:hover, #workSectionTheater .project10:hover, #workSection .project9:hover, #workSectionTheater .project9:hover, #workSection .project8:hover, #workSectionTheater .project8:hover, #workSection .project7:hover, #workSectionTheater .project7:hover, #workSection .project6:hover, #workSectionTheater .project6:hover, #workSection .project5:hover, #workSectionTheater .project5:hover, #workSection .project4:hover, #workSectionTheater .project4:hover, #workSection .project3:hover, #workSectionTheater .project3:hover, #workSection .project2:hover, #workSectionTheater .project2:hover {
  background-image: url("../img/skm/dragon demo.gif");
  background-position: left;
  background-size: contain;
  background-color: grey;
}
#workSection .project1:hover .describingThing, #workSectionTheater .project1:hover .describingThing, #workSection .project21:hover .describingThing, #workSectionTheater .project21:hover .describingThing, #workSection .project20:hover .describingThing, #workSectionTheater .project20:hover .describingThing, #workSection .project19:hover .describingThing, #workSectionTheater .project19:hover .describingThing, #workSection .project18:hover .describingThing, #workSectionTheater .project18:hover .describingThing, #workSection .project17:hover .describingThing, #workSectionTheater .project17:hover .describingThing, #workSection .project16:hover .describingThing, #workSectionTheater .project16:hover .describingThing, #workSection .project15:hover .describingThing, #workSectionTheater .project15:hover .describingThing, #workSection .project14:hover .describingThing, #workSectionTheater .project14:hover .describingThing, #workSection .project13:hover .describingThing, #workSectionTheater .project13:hover .describingThing, #workSection .project12:hover .describingThing, #workSectionTheater .project12:hover .describingThing, #workSection .project11:hover .describingThing, #workSectionTheater .project11:hover .describingThing, #workSection .project10:hover .describingThing, #workSectionTheater .project10:hover .describingThing, #workSection .project9:hover .describingThing, #workSectionTheater .project9:hover .describingThing, #workSection .project8:hover .describingThing, #workSectionTheater .project8:hover .describingThing, #workSection .project7:hover .describingThing, #workSectionTheater .project7:hover .describingThing, #workSection .project6:hover .describingThing, #workSectionTheater .project6:hover .describingThing, #workSection .project5:hover .describingThing, #workSectionTheater .project5:hover .describingThing, #workSection .project4:hover .describingThing, #workSectionTheater .project4:hover .describingThing, #workSection .project3:hover .describingThing, #workSectionTheater .project3:hover .describingThing, #workSection .project2:hover .describingThing, #workSectionTheater .project2:hover .describingThing {
  display: block;
}
#workSection .project2, #workSectionTheater .project2 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/pdtLetters/finished.webp");
}
#workSection .project2:hover, #workSectionTheater .project2:hover {
  background-image: url("../img/pdtLetters/finished.webp");
}
#workSection .project3, #workSectionTheater .project3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/penguinDevice/penguinFinal.webp");
}
#workSection .project3:hover, #workSectionTheater .project3:hover {
  background-image: url("../img/penguinDevice/penguinFinal.webp");
}
#workSection .project4, #workSectionTheater .project4 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/hideAwayStairs/design3.webp");
}
#workSection .project4:hover, #workSectionTheater .project4:hover {
  background-image: url("../img/hideAwayStairs/design3.webp");
}
#workSection .project5, #workSectionTheater .project5 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/capstoneClock/final1.webp");
}
#workSection .project5:hover, #workSectionTheater .project5:hover {
  background-image: url("../img/capstoneClock/final1.webp");
}
#workSection .project6, #workSectionTheater .project6 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/creepyCreature/caught 4.webp");
}
#workSection .project6:hover, #workSectionTheater .project6:hover {
  background-image: url("../img/creepyCreature/caught 4.webp");
}
#workSection .project7, #workSectionTheater .project7 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
}
#workSection .project7:hover, #workSectionTheater .project7:hover {
  background-image: url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
}
#workSection .project8, #workSectionTheater .project8 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/customCoffeTable/final1.webp");
}
#workSection .project8:hover, #workSectionTheater .project8:hover {
  background-image: url("../img/customCoffeTable/final1.webp");
}
#workSection .project9, #workSectionTheater .project9 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/3dVisualizer/Evisualizer.gif");
}
#workSection .project9:hover, #workSectionTheater .project9:hover {
  background-image: url("../img/3dVisualizer/Evisualizer.gif");
}
#workSection .project10, #workSectionTheater .project10 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/fusionInfoGraphic/iteration4.webp");
}
#workSection .project10:hover, #workSectionTheater .project10:hover {
  background-image: url("../img/fusionInfoGraphic/iteration4.webp");
}
#workSection .project11, #workSectionTheater .project11 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/spiceItUp/spice if up final.webp");
}
#workSection .project11:hover, #workSectionTheater .project11:hover {
  background-image: url("../img/spiceItUp/spice if up final.webp");
}
#workSection .project12, #workSectionTheater .project12 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/courageTheCowardlyDog/courage final 2.webp");
}
#workSection .project12:hover, #workSectionTheater .project12:hover {
  background-image: url("../img/courageTheCowardlyDog/courage final 2.webp");
}
#workSection .project13, #workSectionTheater .project13 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/zurgeCoin/final-zurge.webp");
}
#workSection .project13:hover, #workSectionTheater .project13:hover {
  background-image: url("../img/zurgeCoin/final-zurge.webp");
}
#workSection .project14, #workSectionTheater .project14 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/peculiarParticles/final1.webp");
}
#workSection .project14:hover, #workSectionTheater .project14:hover {
  background-image: url("../img/peculiarParticles/final1.webp");
}
#workSection .project15, #workSectionTheater .project15 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/cannonFodder/cannon (15).webp");
}
#workSection .project15:hover, #workSectionTheater .project15:hover {
  background-image: url("../img/cannonFodder/cannon (15).webp");
}
#workSection .project16, #workSectionTheater .project16 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project16:hover, #workSectionTheater .project16:hover {
  background-image: url("../img/babyYoda/babyYoda1.webp");
}
#workSection .project17, #workSectionTheater .project17 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/hair/hair (2).webp");
}
#workSection .project17:hover, #workSectionTheater .project17:hover {
  background-image: url("../img/hair/hair (2).webp");
}
#workSection .project18, #workSectionTheater .project18 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/hecuba/hecuba (2).webp");
}
#workSection .project18:hover, #workSectionTheater .project18:hover {
  background-image: url("../img/hecuba/hecuba (2).webp");
}
#workSection .project19, #workSectionTheater .project19 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/intoTheWoods/IntoTheWoods-29.webp");
}
#workSection .project19:hover, #workSectionTheater .project19:hover {
  background-image: url("../img/intoTheWoods/IntoTheWoods-29.webp");
}
#workSection .project20, #workSectionTheater .project20 {
  grid-column-start: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/greatExpectations/greatExpectations (1).webp");
}
#workSection .project20:hover, #workSectionTheater .project20:hover {
  background-image: url("../img/greatExpectations/greatExpectations (1).webp");
}
#workSection .project21, #workSectionTheater .project21 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(163, 189, 196, 0.75)), url("../img/falStaff/fallStaff (4).webp");
}
#workSection .project21:hover, #workSectionTheater .project21:hover {
  background-image: url("../img/falStaff/fallStaff (4).webp");
}

#workSectionTheater {
  display: none;
}

#resume {
  display: none;
  margin-left: 10%;
  margin-right: 10%;
}

.transitionalContent {
  position: fixed;
  top: 5%;
  bottom: 5%;
  right: 2%;
  left: 2%;
  color: #88A8C9;
  background-color: grey;
  border: 20px solid white;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 5%;
  margin-right: 5%;
  display: none;
  opacity: 0;
  z-index: 15;
}
.transitionalContent img {
  width: 100%;
}
.transitionalContent .description {
  text-align: center;
  margin: 10px 10px 2px 10px;
  position: absolute;
  height: 25%;
  bottom: 0%;
  background-color: #ffe1ad;
  z-index: 10;
}
.transitionalContent .description h1 {
  margin: 0px;
}
.transitionalContent .description p {
  margin: 0px;
  font-size: 1.5em;
}
.transitionalContent .galleryContainer {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.closeButton {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  right: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  z-index: 15;
}

.closeButton:hover {
  transform: scale(1.25);
  cursor: pointer;
}

#WorkContent2 {
  display: block !important;
  opacity: 1 !important;
}

nav {
  font-family: acumin-pro-wide;
  background-color: #586D82;
  display: none;
  opacity: 0;
  justify-content: flex-end;
  font-size: 3em;
  position: fixed;
  right: 0px;
  min-width: 45vw;
  z-index: 3;
}
nav label {
  margin-right: 5%;
}
nav :hover {
  transition-property: transform;
  transition-delay: 0.5;
  transition-duration: 0.75;
  transform: scale(1.2);
}

#header {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  opacity: 1;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  z-index: 3;
}

#aboutMeSection {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  min-width: 110vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: acumin-pro-condensed;
  background-color: #ffe1ad;
  color: #88A8C9;
}
#aboutMeSection img {
  max-height: 75vh;
}
#aboutMeSection p {
  margin: 7%;
  max-width: 65vw;
  font-size: 1.5em;
}
#aboutMeSection h1 {
  text-align: left;
  font-size: 3em;
  padding-left: 5%;
  padding-top: 5%;
}

#contactSection {
  margin: 5%;
  font-family: acumin-pro;
}
#contactSection div {
  background-color: grey;
  padding: 5%;
  border-radius: 50px;
}

.email a {
  padding: 5px;
}
.email a:hover {
  background-color: black;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
