#aboutMeSection {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  min-width: 110vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: acumin-pro-condensed;
  img{
    max-height: 75vh;
  }
  p{
    margin: 7%;
    max-width: 65vw;
    font-size: 1.5em;
  }
  background-color: $pageBackground2;
  h1 {
    text-align: left;
    font-size: 3em;
    padding-left: 5%;
    padding-top: 5%;
  }
  color: #88A8C9;
}
