$baseGearWidth: 29vh;

.gearContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  div{
    background-position: center;
  }

  div:hover {
    background-size: 102%;
    label {
      background-color: rgba(147, 149, 152, 1);
    }
  }
}

.main {
  background-image: -webkit-image-set(url("../img/coverImage3.webp") 1x, url("../img/jpgs/coverImage3.png") 2x);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .25fr;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 115vh;

  label {
    font-family: mostra-nuova;
    background: $labelBackground;
    border-radius: 1.5em;
    padding: 10px;
    font-size: 2em;
    color: $textLabel;
    position: relative;
    text-decoration: none;
  }
}

.aboutMeGear {
  grid-column-start: 3;
  grid-row-start: 2;
  width: $baseGearWidth;
  height: $baseGearWidth;
  background-image: -webkit-image-set(url("../img/aboutMeGear.webp") 1x, url("../img/jpgs/aboutMeGear.png") 2x);
  background-repeat: no-repeat;
  background-size: contain;

  label {
    top: 40%;
    left: 20%;
  }

  :hover {
    cursor: pointer;
  }
}

.workGear {
  grid-column-start: 2;
  grid-row-start: 3;
  width: $baseGearWidth*2.16;
  height: $baseGearWidth*2.16;
  background-image: -webkit-image-set(url("../img/workGear.webp") 1x, url("../img/jpgs/workGear.png") 2x);
  background-repeat: no-repeat;
  background-size: contain;

  label {
    font-size: 5em;
    top: 40%;
    left: 25%;
  }

  :hover {
    cursor: pointer;
  }
}

.contactGear {
  grid-column-start: 3;
  grid-row-start: 3;
  height: $baseGearWidth*1.7;
  width: $baseGearWidth*1.7;
  background-image: -webkit-image-set(url("../img/contactGear.webp") 1x, url("../img/jpgs/contactGear.png") 2x);
  background-repeat: no-repeat;
  background-size: contain;

  label {
    font-size: 3em;
    top: 42%;
    left: 29%;
  }

  :hover {
    cursor: pointer;
  }
}
