$baseGearWidth: 245px;

.main {
  background-image: url("../img/coverImage3.webp");
  min-height: 100vh;
  padding-bottom: 5%;
  display: grid;
  position: relative;
  grid-template-rows: 10% $baseGearWidth repeat(1,1fr);
  grid-template-columns: 35% repeat(4,1fr);
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 70%;

  label {
    font-family: mostra-nuova;
    background: $labelBackground;
    border-radius: 1.5em;
    padding: 10px;
    font-size: 2em;
    color: $textLabel;
    position: relative;
    text-decoration: none;
  }
}

.main {
  div:hover {
    transform: scale(1.02);

    label {
      background-color: rgba(147, 149, 152, 1);
    }
  }
}

.aboutMeGear {
  grid-column-start: 3;
  grid-row-start: 2;
  width: $baseGearWidth;
  height: $baseGearWidth;
  background-image: url("../img/aboutMeGear.webp");
  background-repeat: no-repeat;
  background-size: contain;

  label {
    top: 40%;
    left: 20%;
  }

  :hover {
    cursor: pointer;
  }
}

.workGear {
  grid-column-start: 2;
  grid-row-start: 3;
  width: $baseGearWidth*2.16;
  height: $baseGearWidth*2.16;
  background-image: url("../img/workGear.webp");
  background-repeat: no-repeat;
  background-size: contain;

  label {
    font-size: 5em;
    top: 40%;
    left: 25%;
  }

  :hover {
    cursor: pointer;
  }
}

.contactGear {
  grid-column-start: 3;
  grid-row-start: 3;
  height: $baseGearWidth*1.7;
  width: $baseGearWidth*1.7;
  background-image: url("../img/contactGear.webp");
  background-repeat: no-repeat;
  background-size: contain;

  label {
    font-size: 3em;
    top: 42%;
    left: 29%;
  }

  :hover {
    cursor: pointer;
  }
}
