.transitionalContent {
  .titleBlock {
    background-image: url("../img/skm/dragon demo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;

    .closingTime {
      margin-left: 95%;
      font-size: 2em;
      background-color: grey;
      padding: 5px;
      bottom: 10%;
      right: 10%;
      border-radius: 15px;
      color: #d6d6d6;
      position: fixed;
      z-index: 2;
    }

    .closingTime:hover {
      background-color: black;
      color: white;
    }

    div {
      position: relative;
      bottom: -30%;
      left: 3%;
    }
    grid-column: 1/4;

    h1 {
      font-size: 3em;
    }
  }
  margin-left: 5%;
  margin-right: 5%;
  display: none;
  opacity: 0;
  z-index: 2;

  .imageColection {
    img {
      max-width: 100%;
    }
    display: inline-grid;
    grid-gap: 2%;
    grid-row: 3/5;
    grid-column: 1/4;
  }

  p {
    text-align: center;
    grid-column: 1/4;
    margin: 5% 0 0;
  }
}

label:hover {
  cursor: pointer;
}

#WorkContent2 {
  .titleBlock {
    background-image: url("../img/pdtLetters/finished.jpg");
    background-position: center;
  }

  img:nth-child(even) {
    grid-row-start: 2;
  }

  img:nth-child(odd) {
    grid-row-start: 3;
  }
}

#WorkContent3 {
  .titleBlock {
    max-width: 87vw;
    background-image: url("../img/penguinDevice/penguinFinal.jpg");
    background-position: center;
  }

  .imageColection {
    grid-row-start: 2;
    p {
      max-width: 87vw;
    }
  }

  img:nth-child(even) {
    grid-row-start: 2;
  }

  img:nth-child(odd) {
    grid-row-start: 3;
  }
}

#WorkContent4 {
  .titleBlock {
    background-image: url("../img/hideAwayStairs/bccTable.gif");
    color: black;
  }

  img:nth-child(even) {
    grid-row-start: 2;
  }

  img:nth-child(odd) {
    grid-row-start: 3;
  }

  div:nth-child(3) {
    display: grid;
    grid-row-start: 5;
    margin-left: 1%;
    grid-template-rows: 2;
    grid-template-columns: 2;
    grid-gap: 2%;
    img {
      width: 40vw;
      height: 50vh;
    }
  }

  div:nth-child(4) {
    display: grid;
    grid-gap: 2%;
    grid-template-rows: 2;
    grid-template-columns: 3;
    grid-row-start: 6;

    img {
      width: 27vw;
    }
  }
}

#WorkContent5{
  .titleBlock{
    background-image: url("../img/capstoneClock/final1.JPG");
  }
  .imageColection{
    grid-template-columns: 2;
  }
  div:nth-child(3) {
    display: grid;
    grid-row-start: 5;
    margin-left: 1%;
    grid-template-rows: 3;
    grid-template-columns: 2;
    grid-gap: 2%;
  }
}
