#svgWorkFlow{
  position: fixed;
  top:10vh;
  display: none;
}

.pathWork1 {
  stroke-dasharray: 500;
}

.pathWork2 {
  stroke-dasharray: 500;
}

.pathWork3 {
  stroke-dasharray: 500;
}

.pathWork4 {
  stroke-dasharray: 500;
}

.pathWork5 {
  stroke-dasharray: 500;
}

.pathWork6 {
  stroke-dasharray: 500;
}

.pathWork7 {
  stroke-dasharray: 500;
}

.pathWork8 {
  stroke-dasharray: 500;
}

#workSection {
  margin-left: 2%;
  margin-right: 2%;
  font-family: acumin-pro;
  background-color: $pageBackground2;

  #CTDworkDiv {
    display: grid;
    grid-auto-rows: 1fr;
  }

  .workDivs:nth-child(odd){
    div:nth-child(even){
      grid-column-start: 2;
    }
  }

  .workDivs:nth-child(even){
    div:nth-child(odd){
      grid-column-start: 2;
    }
  }

  .workDivs {
    display: grid;
    position: relative;
    grid-auto-rows: 30vh;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding-top: 20px;

    div {
      padding-left: 5%;
      padding-top: 10%;
      font-size: 2em;
      grid-column-end: span 3;

      label {
        transform: none;
      }
    }
  }

  .describingThing {
    margin-left: 10%;
    font-size: 0.5em;
    display: none;
  }

  .project1 {
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/skm/dragon demo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project1:hover {
    background-image: url("../img/skm/dragon demo.gif");

    .describingThing {
      display: block;
    }
    background-position: left;
    background-size: contain;
    background-color: grey;
  }

  .project2 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/pdtLetters/finished.webp");
  }

  .project2:hover {
    background-image: url("../img/pdtLetters/finished.webp");
  }

  .project3 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/penguinDevice/penguinFinal.webp");
  }

  .project3:hover {
    background-image: url("../img/penguinDevice/penguinFinal.webp");
  }

  .project4 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/hideAwayStairs/design3.webp");
  }

  .project4:hover {
    background-image: url("../img/hideAwayStairs/design3.webp");
  }

  .project5 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/capstoneClock/final1.webp");
  }

  .project5:hover {
    background-image: url("../img/capstoneClock/final1.webp");
  }

  .project6 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/creepyCreature/caught 4.webp");
  }

  .project6:hover {
    background-image: url("../img/creepyCreature/caught 4.webp");
  }

  .project7 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)),url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
  }

  .project7:hover {
    background-image: url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp");
  }

  .project8 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)),url("../img/customCoffeTable/final1.webp");
  }

  .project8:hover {
    background-image: url("../img/customCoffeTable/final1.webp");
  }

  .project9 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/3dVisualizer/Evisualizer.gif");
  }

  .project9:hover {
    background-image: url("../img/3dVisualizer/Evisualizer.gif");
  }

  .project10 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/fusionInfoGraphic/iteration4.webp");
  }

  .project10:hover {
    background-image: url("../img/fusionInfoGraphic/iteration4.webp");
  }

  .project11 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/spiceItUp/spice if up final.webp");
  }

  .project11:hover {
    background-image: url("../img/spiceItUp/spice if up final.webp");
  }

  .project12 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/courageTheCowardlyDog/courage final 2.webp");
  }

  .project12:hover {
    background-image: url("../img/courageTheCowardlyDog/courage final 2.webp");
  }

  .project13 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/zurgeCoin/final-zurge.webp");
  }

  .project13:hover {
    background-image: url("../img/zurgeCoin/final-zurge.webp");
  }

  .project14 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/peculiarParticles/final1.webp");
  }

  .project14:hover {
    background-image: url("../img/peculiarParticles/final1.webp");
  }

  .project15 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/cannonFodder/cannon (15).webp");
  }

  .project15:hover {
    background-image: url("../img/cannonFodder/cannon (15).webp");
  }

  .project16 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/babyYoda/babyYoda1.webp");
  }

  .project16:hover {
    background-image: url("../img/babyYoda/babyYoda1.webp");
  }

  .project17 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/hair/hair (2).webp");
  }

  .project17:hover {
    background-image: url("../img/hair/hair (2).webp");
  }

  .project18 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/hecuba/hecuba (2).webp");
  }

  .project18:hover {
    background-image: url("../img/hecuba/hecuba (2).webp");
  }

  .project19 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/intoTheWoods/IntoTheWoods-29.webp");
  }

  .project19:hover {
    background-image: url("../img/intoTheWoods/IntoTheWoods-29.webp");
  }

  .project20 {
    @extend .project1;

    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/greatExpectations/greatExpectations (1).webp");
  }

  .project20:hover {
    background-image: url("../img/greatExpectations/greatExpectations (1).webp");
  }

  .project21 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/falStaff/fallStaff (4).webp");
  }

  .project21:hover {
    background-image: url("../img/falStaff/fallStaff (4).webp");
  }
}

#workDivTheater {
  display: none;
  grid-auto-rows: 1fr;
}

#resume {
  display: none;
  margin-left: 10%;
  margin-right: 10%;
}
