.closingTime{
  font-family: mostra-nuova;
}

#workSection {
  color: white;
  margin-left: 2%;
  margin-right: 2%;

  font-family: mostra-nuova;

  #workDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;

    div {
      padding-left: 5%;
      padding-top: 10%;
      padding-bottom: 30%;
      font-size: 2em;

      h5 {
        transform: none;
        margin: 0;
        padding: 0;
        font-size: 0.75em;
      }
      label{
        transform: none;
      }
    }
  }

  .project1 {
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/skm/dragon demo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project1:hover {
    background-image: url("../img/skm/dragon demo.gif");
  }

  .project2 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/pdtLetters/finished.webp") 1x, url("../img/pdtLetters/jpgs/finished.jpg") 2x);
  }

  .project2:hover {
    background-image: -webkit-image-set(url("../img/pdtLetters/finished.webp") 1x, url("../img/pdtLetters/jpgs/finished.jpg")2x);
  }

  .project3 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/penguinDevice/penguinFinal.webp") 1x, url("../img/penguinDevice/jpgs/penguinFinal.jpg")2x);
  }

  .project3:hover {
    background-image: -webkit-image-set(url("../img/penguinDevice/penguinFinal.webp") 1x, url("../img/penguinDevice/jpgs/penguinFinal.jpg")2x);
  }

  .project4 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/hideAwayStairs/design3.webp") 1x, url("../img/hideAwayStairs/jpgs/design3.png")2x);
  }

  .project4:hover {
    background-image: -webkit-image-set(url("../img/hideAwayStairs/design3.webp") 1x, url("../img/hideAwayStairs/jpgs/design3.png")2x);
  }

  .project5 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/capstoneClock/final1.webp") 1x, url("../img/capstoneClock/jpgs/final1.jpg")2x);
  }

  .project5:hover {
    background-image: -webkit-image-set(url("../img/capstoneClock/final1.webp") 1x, url("../img/capstoneClock/jpgs/final1.jpg")2x);
  }

  .project6 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/creepyCreature/caught 4.webp") 1x, url("../img/creepyCreature/jpgs/caught 4.png")2x);
  }

  .project6:hover {
    background-image: -webkit-image-set(url("../img/creepyCreature/caught 4.webp") 1x, url("../img/creepyCreature/jpgs/caught 4.png")2x);
  }

  .project7 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp") 1x, url("../img/sherlockHolmesRenderings/jpgs/stag 1 behind bar still.jpg")2x);
  }

  .project7:hover {
    background-image: -webkit-image-set(url("../img/sherlockHolmesRenderings/stag 1 behind bar still.webp") 1x, url("../img/sherlockHolmesRenderings/jpgs/stag 1 behind bar still.jpg")2x);
  }

  .project8 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/customCoffeTable/final1.webp") 1x, url("../img/customCoffeTable/jpgs/final1.jpg")2x);
  }

  .project8:hover {
    background-image: -webkit-image-set(url("../img/customCoffeTable/final1.webp") 1x, url("../img/customCoffeTable/jpgs/final1.jpg")2x);
  }

  .project9 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/3dVisualizer/Evisualizer.gif");
  }

  .project9:hover {
    background-image: url("../img/3dVisualizer/Evisualizer.gif");
  }

  .project10 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/fusionInfoGraphic/iteration4.webp") 1x, url("../img/fusionInfoGraphic/jpgs/iteration4.jpg")2x);
  }

  .project10:hover {
    background-image: -webkit-image-set(url("../img/fusionInfoGraphic/iteration4.webp") 1x, url("../img/fusionInfoGraphic/jpgs/iteration4.jpg")2x);
  }

  .project11 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/spiceItUp/spice if up final.webp") 1x, url("../img/spiceItUp/jpgs/spice if up final.jpg")2x);
  }

  .project11:hover {
    background-image: -webkit-image-set(url("../img/spiceItUp/spice if up final.webp") 1x, url("../img/spiceItUp/jpgs/spice if up final.jpg")2x);
  }

  .project12 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/courageTheCowardlyDog/courage final 2.webp") 1x, url("../img/courageTheCowardlyDog/jpgs/courage final 2.png")2x);
  }

  .project12:hover {
    background-image: -webkit-image-set(url("../img/courageTheCowardlyDog/courage final 2.webp") 1x, url("../img/courageTheCowardlyDog/jpgs/courage final 2.png")2x);
  }

  .project13 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/zurgeCoin/final-zurge.webp") 1x, url("../img/zurgeCoin/jpgs/final-zurge.png")2x);
  }

  .project13:hover {
    background-image: -webkit-image-set(url("../img/zurgeCoin/final-zurge.webp") 1x, url("../img/zurgeCoin/jpgs/final-zurge.png")2x);
  }

  .project14 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/peculiarParticles/final1.webp") 1x, url("../img/peculiarParticles/jpgs/final1.PNG")2x);
  }

  .project14:hover {
    background-image: -webkit-image-set(url("../img/peculiarParticles/final1.webp") 1x, url("../img/peculiarParticles/jpgs/final1.PNG")2x);
  }

  .project15 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/cannonFodder/cannon (15).webp") 1x, url("../img/cannonFodder/jpgs/cannon (15).jpg")2x);
  }

  .project15:hover {
    background-image: -webkit-image-set(url("../img/cannonFodder/cannon (15).webp") 1x, url("../img/cannonFodder/jpgs/cannon (15).jpg")2x);
  }

  .project16 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), -webkit-image-set(url("../img/babyYoda/babyYoda1.webp") 1x, url("../img/babyYoda/jpgs/babyYoda1.PNG")2x);
  }

  .project16:hover {
    background-image: -webkit-image-set(url("../img/babyYoda/babyYoda1.webp") 1x, url("../img/babyYoda/jpgs/babyYoda1.PNG")2x);
  }

  .project17 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/hair/hair (2).webp");
  }

  .project17:hover {
    background-image: url("../img/hair/hair (2).webp");
  }

  .project18 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/hecuba/hecuba (2).webp");
  }

  .project18:hover {
    background-image: url("../img/hecuba/hecuba (2).webp");
  }

  .project19 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/intoTheWoods/IntoTheWoods-29.webp");
  }

  .project19:hover {
    background-image: url("../img/intoTheWoods/IntoTheWoods-29.webp");
  }

  .project20 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/greatExpectations/greatExpectations (1).webp");
  }

  .project20:hover {
    background-image: url("../img/greatExpectations/greatExpectations (1).webp");
  }

  .project21 {
    @extend .project1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(163, 189, 196, .75)), url("../img/falStaff/fallStaff (4).webp");
  }

  .project21:hover {
    background-image: url("../img/falStaff/fallStaff (4).webp");
  }

}
#workSectionTheater{
  @extend #workSection;
  display: none;
}
#workDivTheater{
  @extend #workDiv;
}

#resume{
  display: none;
  margin-left: 10%;
  margin-right: 10%;
}
